.project-Container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.project-Container>* {
    flex: 1 1 400px;
    height: 70vh;
    
}
.project-Image {
    width: 60%;
    display: flex;  
    justify-content: center;
    
}
.project-Image img{
    max-width: 100%;
    height: fit-content;
    max-height: 70vh;
}



