/* theme mode */
:root {
    --background-color: #fff;
    --text-color: #313131;
}

;

[data-theme="dark"] {
    --background-color: #3F3F3F;
    --text-color: #fff;
}

/* */

.intro {
    text-align: center;
    padding-top: 20vh;

}

.monogram {
    width: 30px;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 15px);
}

.language {
    width: fit-content;
    position: absolute;
    top: 3%;
    right: 3%;
}

.languageBox {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #fff;
    width: fit-content;
    font-size: 10pt;
    color: #313131;
    text-align: center;
    margin-right: 10px;
    padding: 3px;
    cursor: pointer;
    border: 1px var(--text-color) solid;
}

.languageBox:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    border: 1px var(--text-color) solid;
}

.languageBoxCurrent {
    background-color: var(--text-color);
    color: var(--background-color);
    border: 1px var(--text-color) solid;
}

.btnIntro {
    background-color: var(--text-color);
    text-align: center;
    color: var(--background-color);
    width: fit-content;
    display: inline-block;
    margin: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.rotate-180 {
    height: 30px;
    opacity: 0;
}

.btn:hover>.rotate-180 {
    opacity: 1;
    display: inline-block;
    vertical-align: center;
    font-size: 16pt;
    -webkit-animation: rotate180 0.8s infinite ease-in-out;
    animation: rotate180 0.8s infinite ease-in-out;
}

.darkmodeBtn {
    width: fit-content;
    position: absolute;
    bottom: 5%;
    right: 3%;
}

.bigSpacer {
    margin-top: 50px;
}

.name {
    width: fit-content;
    cursor: pointer;
    color: #313131;
    font-weight: 900;
    text-transform: uppercase;

}

.intro .name {
    margin: 0 auto;
}

.name:hover {
    -webkit-animation: text-shadow-pop-right 0.4s both;
    animation: text-shadow-pop-right 0.4s both;

}



/** Animations */

@-webkit-keyframes rotate180 {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-300deg);
    }
}

@keyframes rotate180 {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}


/**
 * ----------------------------------------
 * animation text-shadow-pop-right
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-right {
    0% {
        text-shadow: 0 0 #ef922f75, 0 0 #ef922f75, 0 0 #ef922f75, 0 0 #ef922f75;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        text-shadow: 1px 0 #ef922f75, 2px 0 #ef922f75, 3px 0 #ef922f75, 4px 0 #ef922f75;
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }
}

@keyframes text-shadow-pop-right {
    0% {
        text-shadow: 0 0 #ef922f75, 0 0 #ef922f75, 0 0 #ef922f75, 0 0 #ef922f75;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        text-shadow: 1px 0 #ef922f75, 2px 0 #ef922f75, 3px 0 #ef922f75, 4px 0 #ef922f75;
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }
}