.intro{
    text-align: center;
    padding-top: 20vh;
}
.monogram{
  width: 30px;
    height: auto;
    
}
.footer{
    
    position: absolute;
    bottom: 5%;
    left: calc(50% - 15px);
}
.language{
    width: fit-content;
    position: absolute;
    top: 3%;
    right: 3%;
}
.languageBox{
    width: fit-content;
    font-size: 10pt;
    text-align: center;
    margin-right: 10px ;
    padding: 3px;
    border: 1px black solid;
    cursor: pointer;
}
.languageBox:hover{
    background-color: black;
    color: white;
    border: 1px black solid;
}
.languageBoxCurrent{
    background-color: black;
    color: white;
    border: 1px black solid;
}
.btnIntro{
    background-color: black;
    text-align: center;
    color: white;
    width: fit-content;
    display: inline-block;
    margin: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.rotate-180 {
    height: 30px;
    opacity: 0;
}

 .btn:hover > .rotate-180   {
    opacity: 1;
    display: inline-block;
    vertical-align: center;
    font-size: 16pt;
	-webkit-animation: rotate180 0.8s infinite ease-in-out;
	        animation: rotate180 0.8s infinite ease-in-out;
}
.darkmode{
    width: fit-content;
    position: absolute;
    bottom: 5%;
    right: 3%;
    border: 1px black solid;
}
.bigSpacer{
    margin-top: 50px;
}

.name:hover{
   color: #f19940 ;
  
}



/** Animations */

@-webkit-keyframes rotate180 {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-300deg);
    }
  }
  @keyframes rotate180{
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }


/** slide-fwd-center */
@-webkit-keyframes slidetxt{
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slidetxt {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  
  