@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Lexend', sans-serif;
}

.semiBold {
    font-weight: 600;
}

body {
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    background: rgb(236, 236, 236);
    background: linear-gradient(0deg, rgba(236, 236, 236, 1) 0%, rgba(255, 255, 255, 1) 100%);

}

h1 {
    font-weight: 900;
    font-size: 30pt;
    text-transform: capitalize;
    margin: -6px 0 0 0;
    padding: 0;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: #313131;
}

a:visited {
    text-decoration: none;
    color: #313131;
}